<html>
  <head>
    <title>API for Onderwijskennismakers</title>
    
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      {{{ body }}}
    </div>
  </body>
</html>
